.TableScroll {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  overflow-x: auto;
  outline: none!important;
  overflow-y: auto;
}

table td {
  white-space: nowrap;
  word-break: break-all;
}

i {
  vertical-align: middle !important;
}
th { cursor: pointer; cursor: hand; }
