<!--<div class="container" >style="margin-left:400px; margin-right: 100px;"-->

<!--Table function-->
<div class="row">
  <div class="input-field col">
    <a class="btn-floating  waves-effect waves-light blue btn-small">   <i class="material-icons">list</i></a>
  </div>
  <div class="input-field col">
    <a class="btn-floating  waves-effect waves-light blue btn-small" (click)="ShowAdvancedColumnSearch=!ShowAdvancedColumnSearch">   <i class="material-icons">find_in_page</i></a>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text" (keyup)="KeyWordSearch(keyword.value)" #keyword>
    <label for="icon_prefix">關鍵字搜尋</label>
  </div>
</div>
<!--AdvancedColumnSearchForm-->
<div class="row" *ngIf="ShowAdvancedColumnSearch">
  <div class="input-field col s3" *ngFor="let c of Columns">
    <div *ngIf="this.CustomAdvancedColumnSearch[c.ColumnName]">
      </div>
    <input [id]="c.ColumnTitle" type="text" [(ngModel)]="AdvancedColumnSearchOption[c.ColumnName]">
    <label class="active" [for]="c.ColumnTitle">{{c.ColumnTitle}}</label>
  </div>
  {{AdvancedColumnSearchOption|json}}
</div>
<!--TableData-->
<div class="row">
  <div class="TableScroll">
    <table class="bordered striped">
      <thead>
        <tr>
          <th style="background-color:yellow"></th>
          <th *ngFor="let column of Columns" style="background-color:yellow">
            <div style="display: inline-block; width: 150px;" (click)="SortTable(column)">
              {{column.ColumnTitle}}
              <i class="material-icons" *ngIf="TableSetting.OrderRule=='DESC' &&TableSetting.SelectedColumn==column.ColumnName">expand_less</i>
              <i class="material-icons" *ngIf="TableSetting.OrderRule=='ASC' &&TableSetting.SelectedColumn==column.ColumnName">expand_more</i>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tabledata ; let i=index">
          <td>
            <a class="btn-floating  waves-effect waves-light blue btn-small" (click)="Detail(item.ID)"> <i class="material-icons">pageview</i></a>
            <a class="btn-floating  waves-effect waves-light green btn-smal" (click)="Edit(item.ID)"> <i class="material-icons">edit</i></a>
            <a class="btn-floating  waves-effect waves-light red btn-smal" (click)="Delete(item.ID)"> <i class="material-icons">delete</i></a>
          </td>
          <td *ngFor="let c of Columns">
            <div *ngIf="c.ColumnType=='Date'">
              {{item[c.ColumnName]|date: 'yyyy/MM/dd'}}
            </div>
            <div *ngIf="c.ColumnType=='DateTime' ">
              {{item[c.ColumnName]|date: 'yyyy/MM/dd HH:mm:ss'}}
            </div>
            <div *ngIf="c.ColumnType!='Date'&&c.ColumnType!='DateTime'">
              {{item[c.ColumnName]}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Paging button-->
<div class="row">
  <div class="col">
    <select class="browser-default" #c (change)="ChangeDataCount(c.value)" id="test">
  <option *ngFor="let item of ShowDataCount" [value]="item"  [selected]="item==TableSetting.length" >{{item}}</option>
    </select>
  </div>
  <div class="col">
    <pagination-controls (pageChange)="pageChanged($event)" [nextLabel]="'下一頁'" [previousLabel]='"上一頁"'></pagination-controls>
    <div *ngFor="let item of collection |  paginate: config" style="margin:0 0 0 0"></div>
  </div>
</div>
