  <div class="container">
   <table  class="responsive-table">
        <thead>
          <tr>
            <th></th>
              <th>Name


                <i class="material-icons">expand_more</i>
              </th>
              <th>Item Name</th>
              <th>Item Price</th>


          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <i class="material-icons">face</i>
                <i class="material-icons">remove</i>
                  <i class="material-icons">edit</i>
            </td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>

          </tr>
          <tr>
             <td>
              <i class="material-icons">face</i>
                <i class="material-icons">remove</i>
                  <i class="material-icons">edit</i>
            </td>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
             <td>
              <i class="material-icons">face</i>
                <i class="material-icons">remove</i>
                  <i class="material-icons">edit</i>
            </td>
            <td>Jonathan</td>
            <td>LollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipopLollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
</div>
